body {
    margin: 0;
    padding: 0;
    font-family: $font;
}

#mission {
    h1 {
        position: absolute;
        top: 17%;
        width: 100%;
        text-align: center;
        font-size: 60px;
        color: $white;
    }
}

div {
    h2 {
        text-align: center;
        font-size: 40px;
        color: #88B8D6;
    }
}

#instructors {
    padding: 50px 25px;
    text-align: center;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        column-count: 4;
    }

    li {
        display: inline-block;
        margin: 16px 0;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    h3 {
        font-weight: 600;
        color: #020202;
    }
}

#testimonials {
    overflow: auto;
    background-color: #ECECEC;
    padding: 50px 25px;

    ul {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
    }
    
    p {
        font-size: 24px;
        font-weight: 400;
        color: #646464;
    }
}
