#login-container {
    margin: auto;
    margin-top: calc(50vh - 200px);
    width: 285px;
    height: 400px;
    
    .label {
        margin-bottom: 15px;
        font-family: $font;
        font-size: 16px;
        line-height: 20px;
    }

    input {
        margin-bottom: 37px;
    }

    #login-btn {
        margin: auto;
        margin-bottom: 45px;
        width: 76px;
        height: 36px;

    }

    #loadLogin {
        display: block;
        margin: auto;
        width: 28px;
        height: 28px;
    }

    #exit {
        margin: auto;
        margin-top: 120px;
        width: 30px;
        height: 30px;

        &:hover {
            cursor: pointer;
        }
    }
}
