input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.btn {
    padding: 6px 11px !important;
    border: 1px solid $black !important;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25) !important;
    border-radius: 8px !important;
    font-family: $font !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    color: $black !important;
    background-color: $white !important;

    &:hover {
        cursor: pointer;
    }
}

@mixin text-box($width, $height, $vertical-pad) {
    width: $width;
    height: $height;
    padding: $vertical-pad 10px;
    border: 1px solid #000000;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: $font;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.short-answer {
    @include text-box(285px, 34px, 0px);
}
.long-answer {
    @include text-box(285px, 50px, 5px);
}

.question {
    margin-bottom: 15px;
    font-family: $font;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $black;
}

.answers {
    margin-left: 15px;
    margin-bottom: 40px;
    font-family: $font;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.mc-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
    }

    .mc {
        position: absolute;
        top: 1px;
        left: 10px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid $black;
        box-sizing: border-box;
        box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.20);
    }

    &:hover input ~ .mc {
        background: $gray;
    }
  
    input:checked ~ .mc {
        background: $gray;
    }
}
