#quiz {
    margin-top: 50px;
    margin-left: 50px;
}

#shortAnswersQuiz {
    margin-left: 50px;
}

.shortAnswerQuestions{
    font-weight: 600;
    font-family: $font;
}

.shortAnswersBoxes {
    margin: 15px 0px 30px 25px;
}

#submit {
    margin-bottom: 20px;
    margin-left: 50px;
}

#results {
    margin-left: 50px;
    margin-bottom: 20px;
    font-family: $font;
}
