#exit {
    margin-left: 75vw;
    position: fixed;
}

#timer {
    margin-top: 65px;
    margin-left: 75vw;
    position: fixed;
    font-family: $font;
    font-weight: 600;
    font-size: 24px;
    color: $black;
}

#title {
    margin-top: 70px;
    margin-left: 100px;
    font-family: $font;
    font-weight: 600;
    font-size: 24px;
    color: $black;
}

#quiz {
    margin-top: 40px;
    margin-left: 100px;
    width: 60vw;
}

#shortAnswersQuiz {
    margin-left: 50px;
}

.shortAnswerQuestions{
    font-weight: 600;
    font-family: $font;
}

.shortAnswersBoxes {
    margin: 15px 0px 30px 25px;
}

#bottom-btns {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

#previous {
    margin-right: 10px;
}

#submit {
    margin-left: 500px;
}

#results {
    margin-left: 50px;
    margin-bottom: 20px;
    font-family: $font;
}

#viewQuizResults {
    margin-left: 500px;
}

#bgBox {
    font-family: $font;
}

#quizNamePopup {
    font-size: 35px;
    margin-top: 26px;
    margin-left: 25px;
    color: #6A6A6A;
    font-weight: bold;
    display: inline-block;
}

#quizScoreText {
    font-size: 35px;
    margin-top: 25px;
    margin-left: 10px;
    color: rgb(153, 153, 153);
    font-weight: 100;
    display: inline-block;
}

#yourScoreText {
    font-size: 36px;
    color: rgb(119, 119, 119);
    font-weight: 100;
    margin-left: 550px;
    margin-top: 30px;
}

#scoreBreakdown {
    position: relative;
    color: rgb(119, 119, 119);
    font-size: 25px;
    font-weight: 200;
    z-index: 999;
}

#fractionScore {
    position: relative;
    color: rgb(94, 94, 94);
    font-size: 40px;
    font-weight: 700;
    z-index: 999;
}

#bigScore {
    color: rgb(94, 94, 94);
    font-size: 100px;
    font-weight: 900;
    margin-left: 550px;
    margin-top: -330px;
}

#congratsP {
    color: rgb(119, 119, 119);
    font-size: 20px;
    font-weight: 100;
    margin-left: 550px;
    margin-top: -20px;
    margin-right: 20px;
}

#reviewQuiz {
    position: relative;
    color: rgb(134, 134, 134);
    top: 490px;
    right: 175px;
    font-size: 24px;
    padding: 8px 32px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 3px solid #BCBCBC;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    z-index: 600;
    
    &:hover {
        color: #ffffff;
        background-color: rgb(134, 134, 134);
        cursor: pointer;
    }
}

#popupX {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #F5F5F5;
    border: none;
    left: 830px;
    bottom: 450px;

    &:hover #xRect1 {
        background-color: rgb(160, 160, 160);
        cursor: pointer;
    }

    &:hover #xRect2 {
        background-color: rgb(160, 160, 160);
        cursor: pointer;
    }
}
  
#xRect1,#xRect2 {
    height: 40px;
    width: 7px;
    background-color: rgb(202, 202, 202);
}

#xRect1 {
    transform: rotate(45deg);
}

#xRect2 {
    transform: rotate(90deg);
}


#popupBox {
    background-color: #F5F5F5;
    width: 900px;
    height: 600px;
    z-index: 199;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    border: solid 3px #BCBCBC;
}

#scoreBox {
    background-color: #DEDEDE;
    width: 900px;
    height: 400px;
    z-index: 199;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 3px #BCBCBC;
}

#bgBox {
    z-index: 500;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(2px);
}

.btn:disabled {
    &:hover {
        cursor:default;
    }
}

#loadQuiz {
    margin-top: 40vh;
    margin-left: 50vw;
}
