@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.btn {
  padding: 6px 11px !important;
  border: 1px solid #000000 !important;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25) !important;
  border-radius: 8px !important;
  font-family: Montserrat, Arial !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  color: #000000 !important;
  background-color: #FFFFFF !important;
}
.btn:hover {
  cursor: pointer;
}

.short-answer {
  width: 285px;
  height: 34px;
  padding: 0px 10px;
  border: 1px solid #000000;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: Montserrat, Arial;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.long-answer {
  width: 285px;
  height: 50px;
  padding: 5px 10px;
  border: 1px solid #000000;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: Montserrat, Arial;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.question {
  margin-bottom: 5px;
  font-family: Montserrat, Arial;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.answers {
  margin-left: 15px;
  margin-bottom: 40px;
  font-family: Montserrat, Arial;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.mc-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mc-container input {
  position: absolute;
  opacity: 0;
}
.mc-container .mc {
  position: absolute;
  top: 1px;
  left: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.mc-container:hover input ~ .mc {
  background: #C4C4C4;
}
.mc-container input:checked ~ .mc {
  background: #C4C4C4;
}

#quiz {
  margin-top: 50px;
  margin-left: 50px;
}

#shortAnswersQuiz {
  margin-left: 50px;
}

.shortAnswerQuestions {
  font-weight: 600;
  font-family: Montserrat, Arial;
}

.shortAnswersBoxes {
  margin: 15px 0px 30px 25px;
}

#submit {
  margin-bottom: 20px;
  margin-left: 50px;
}

#next {
  margin-bottom: 20px;
}

#previous {
  margin-bottom: 20px;
}

#results {
  margin-left: 50px;
  margin-bottom: 20px;
  font-family: Montserrat, Arial;
}

#login-container {
  margin: auto;
  margin-top: calc(50vh - 200px);
  width: 285px;
  height: 400px;
}
#login-container .label {
  margin-bottom: 15px;
  font-family: Montserrat, Arial;
  font-size: 16px;
  line-height: 20px;
}
#login-container input {
  margin-bottom: 37px;
}
#login-container #login-btn {
  margin: auto;
  margin-bottom: 45px;
  width: 76px;
  height: 36px;
}
#login-container #loadLogin {
  display: block;
  margin: auto;
  width: 28px;
  height: 28px;
}
#login-container #exit {
  margin: auto;
  margin-top: 120px;
  width: 30px;
  height: 30px;
}
#login-container #exit:hover {
  cursor: pointer;
}
