body {
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
}

.question,.shortAnswerQuestions,.shortAnswersBoxes,.answers,#submit,#results {
    font-family: sans-serif;
}

#quiz {
    margin-top: 50px;
    margin-left: 50px;
}

#shortAnswersQuiz {
    margin-left: 50px;
}

.shortAnswersBoxes {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 300px;
    height: 30px;
    font-size: 20px;
}
.question {
    font-weight: 600;
    margin-bottom: 5px;
}

.shortAnswerQuestions{
    font-weight: 600;
}

.answers {
    margin-bottom: 20px;
}
.answers label {
    display: block;
}

#submit {
    font-family: sans-serif;
    font-size: 20px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 50px;
}
#submit:hover {
    background-color: #38a;
}

#results {
    margin-left: 50px;
    margin-bottom: 20px;
}